---
id: TASK-12
title: Better Auth email verification
status: Done
assignee: []
created_date: '2026-04-26 13:48'
labels: []
milestone: m-2
dependencies: []
ordinal: 3000
---


